/*---------------------------------------------------------------------------
======================== Переход по спискам и Поиск =========================
---------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {

  /* Скрываем стандартный заголовок Поиска */
  .p-user_rates-index .subheadline-buttons+.subheadline {
    display: none;
  }

  /* Кнопки переключения режима отображения списка */
  .p-user_rates-index .subheadline-buttons {
    top: 0;
    z-index: 16;
  }

  /* Заголовок Переходов по категориям и Поиска */
  .b-options-floated.mylist::before {
    content: "Переход по спискам и Поиск";
    display: block;
    clear: both;
    line-height: 1;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px !important;
    font-size: var(--font-size-header);
    background: var(--headline-background-color);
    border-left: 5px solid var(--headline-border-color);
    color: var(--headline-color);
    font-family: var(--font-main);
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
  }

  /* Заголовок на Английском */
  [data-locale="en"] .b-options-floated.mylist::before {
    content: "Jump to categories and Search";
  }

  /* Кнопки перехода по спискам */
  .b-options-floated.mylist {
    margin: -10px auto 0px;
    padding: 10px 0 5px;
    display: block;
    position: sticky;
    top: 45px;
    background-color: var(--page-color);
    z-index: 15;
  }

  .b-options-floated.mylist a {
    font-size: 14px;
    color: var(--text-color);
    display: inline-block;
    text-transform: uppercase;
    margin: 0px 5px 5px 0;
    width: auto;
    font-weight: bold;
    padding: 5px 5px 5px 7px;
    border-radius: 3px;
    background: var(--headline-background-color);
    opacity: 1;
  }

  /* Цвет скобок "()" */
  .b-options-floated.mylist span::before,
  .b-options-floated.mylist span::after {
    color: var(--text-color) !important;
  }

  /* Цвет скобок "()" при активной категории */
  .b-options-floated.mylist a.selected span::before,
  .b-options-floated.mylist a.selected span::after {
    color: var(--link-hover-color) !important;
  }

  /* Скрываем стандартный разделитель "/" между кнопками  */
  .b-options-floated.mylist a::after {
    display: none;
  }

  /* Цвета кнопок перехода */
  .b-options-floated.mylist a[data-id="planned"],
  .b-options-floated.mylist a[data-id="on_hold"],
  .b-options-floated.mylist a[data-id="watching"],
  .b-options-floated.mylist a[data-id="rewatching"] {
    background-color: var(--color-green);
  }

  .b-options-floated.mylist a[data-id="completed"] {
    background-color: var(--color-orange);
  }

  .b-options-floated.mylist a[data-id="dropped"] {
    background-color: var(--color-red);
  }

  /* Кнопки перехода по спискам при наведении */
  .b-options-floated.mylist a:hover {
    color: var(--text-color-dim);
    text-decoration: none;
    opacity: 0.8;
  }

  /* Поиск по спискам */
  .b-collection_search {
    display: block;
    position: sticky;
    top: 55px;
    background-color: var(--page-color);
    z-index: 15;
  }

  .b-collection_search .field input {
    border: 1px solid rgba(172, 177, 180, .4);
    padding: 0 42px 0 15px;
    border-radius: 3px;
  }

  /*---------------------------------------------------------------------------
  ============================ Заголовки Списков ==============================
  ---------------------------------------------------------------------------*/
  /* Цвета заголовков списков */
  .mylist~.list-groups .status-0 .subheadline,
  .mylist~.list-groups .status-1 .subheadline,
  .mylist~.list-groups .status-9 .subheadline,
  .mylist~.list-groups .status-3 .subheadline {
    border-left-color: green;
    background-color: var(--color-green);
    color: var(--text-color);
  }

  .mylist~.list-groups .status-2 .subheadline {
    border-left-color: orange;
    background-color: var(--color-orange);
    color: var(--text-color);
  }

  .mylist~.list-groups .status-4 .subheadline {
    border-left-color: red;
    background-color: var(--color-red);
    color: var(--text-color);
  }

  /*---------------------------------------------------------------------------
  ================================ Таблица ====================================
  ---------------------------------------------------------------------------*/
  /* Расстояние между элементами в таблице */
  .p-user_rates-index .list-lines {
    border-collapse: separate;
    border-spacing: 0 5px;
    table-layout: fixed;
  }

  /* Цвет верхней границы таблицы */
  .p-user_rates-index .list-lines thead .border th {
    background-color: var(--lists-border);
    padding-top: 2px;
  }

  /* Цвет нижней границы таблицы */
  .p-user_rates-index .list-lines {
    border-bottom: 2px solid var(--lists-border);
  }

  /*---------------------------------------------------------------------------
  ================================= TD TR =====================================
  ---------------------------------------------------------------------------*/
  /* Выравнивание элементов в таблице */
  .p-user_rates-index .list-lines .entries tr,
  .p-user_rates-index .list-lines .entries td {
    line-height: 2;
    vertical-align: middle;
  }

  /* Цвета списков в таблице */
  .p-user_rates-index .list-lines .entries tr:nth-child(odd) td {
    background-color: var(--lists-odd-bg);
  }

  .p-user_rates-index .list-lines tr:nth-child(odd) td:nth-child(odd) {
    background-color: var(--lists-odd-bg-alt);
    border-left: 1px solid var(--lists-odd-bg-alt);
  }

  .p-user_rates-index .list-lines .entries tr:nth-child(even) td {
    background-color: var(--lists-even-bg);
  }

  .p-user_rates-index .list-lines tr:nth-child(even) td:nth-child(odd) {
    background-color: var(--lists-even-bg-alt);
    border-left: 1px solid var(--lists-even-bg-alt);
  }

  /* Закруглённые углы элементов в таблице */
  .p-user_rates-index .list-lines .entries tr td:first-child {
    border-radius: 5px 0 0 5px;
  }

  .p-user_rates-index .list-lines .entries tr td:last-child {
    border-radius: 0 5px 5px 0;
  }

  /* Цвет элементов в таблице при наведении */
  .p-user_rates-index .list-lines .selectable:hover {
    background-color: transparent;
  }

  .p-user_rates-index .list-lines .selectable:hover td {
    background-color: var(--lists-hover) !important;
    border-left-color: var(--lists-hover) !important;
  }

  /* Кнопка "+" (Эпизод, Глава, Том) */
  .p-user_rates-index .list-lines tr td .new-value .item-add {
    top: -16px !important;
    display: inline-block;
    position: relative;
  }

  /* TR */
  .p-user_rates-index .list-lines tr .index {
    color: inherit;
    padding-right: 0;
  }

  .p-user_rates-index .list-lines tr .name {
    padding: 3px 10px;
    width: auto;
  }

  .p-user_rates-index .list-lines tr .name a {
    line-height: inherit;
  }

  .p-user_rates-index .list-lines tr .name-en {
    display: none;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    clear: both;
    text-overflow: ellipsis;
    margin-bottom: -5px;
    font-size: 11px;
    color: gray;
  }

  .p-user_rates-index .list-lines tr .name-ru {
    display: block;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    clear: both;
    text-overflow: ellipsis;
  }

  .p-user_rates-index .list-lines tr td .rewatches,
  .p-user_rates-index .list-lines tr td .ongoing,
  .p-user_rates-index .list-lines tr td .anons {
    float: left;
    font-size: inherit;
  }

  .p-user_rates-index .list-lines tr td .rate-text {
    color: var(--text-color-faint);
    font-size: var(--font-size-base-desktop);
    line-height: 1rem;
    float: left;
    clear: both;
  }

  .p-user_rates-index .list-lines tr td .rate-text a {
    color: var(--text-color-faint) !important;
  }

  /*---------------------------------------------------------------------------
  =========================== Форма редактирования ============================
  ---------------------------------------------------------------------------*/
  /* Сбрасываем стили формы */
  .p-user_rates-index .b-table.list-lines .entries tr.edit-form td {
    background-color: transparent;
    border-spacing: 0;
    line-height: 1;
  }

  .p-user_rates-index .list-lines tr.edit-form form {
    border: 0;
    margin: 0;
    padding: 10px;
    border-radius: 3px;
  }

  /* Кнопка Удалить */
  .p-user_rates-index .list-lines tr.edit-form form a.remove {
    border-radius: 3px;
    background-color: var(--color-red);
    border-color: currentcolor;
    color: var(--button-text-color);
    line-height: 23px;
    padding: 0 10px;
    transition: background-color .3s ease, color .3s ease;
    border: 0;
  }

  /* Кнопка Удалить при наведении */
  .p-user_rates-index .list-lines tr.edit-form form a.remove:hover {
    background-color: var(--color-red);
    opacity: 0.8;
  }

  /*---------------------------------------------------------------------------
  ============================= Подвал Списков ================================
  ---------------------------------------------------------------------------*/
  .p-user_rates-index .list-groups .summary.lines {
    background-color: var(--lists-even-bg-alt);
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    color: var(--text-color);
    font-family: var(--font-main);
    font-size: var(--font-size-base-desktop);
}
  }

  .p-user_rates-index .list-groups .summary.lines.library {
    background-color: var(--lists-even-bg-alt);
    border-top: 0;
    margin: 0;
    display: block;
  }

  /*---------------------------------------------------------------------------
  ========================= Правая колонка Списков ============================
  ---------------------------------------------------------------------------*/
  .p-user_rates-index .b-block_list li {
    font-family: var(--font-main);
    margin: 1px 0;
    padding: 2px 5px;
    border-radius: 3px;
  }

  .p-user_rates-index .b-block_list li span {
    margin-top: -3px;
  }
}
