/* Аниме/Манга/Ранобэ рядом с пунктами истории */
.history-page a.bubbled-processed:before {
  display: inline-block;
  margin: 0 5px 0 0;
}

.history-page a.bubbled-processed[href ^="/a"]:before {
  content: '(Аниме) ';
  color: green;
}

.history-page a.bubbled-processed[href ^="/m"]:before {
  content: '(Манга) ';
  color: purple;
}

.history-page a.bubbled-processed[href ^="/r"]:before {
  content: '(Ранобэ) ';
  color: blue;
}

[data-locale="en"] .history-page a.bubbled-processed[href ^="/a"]:before {
  content: '(Anime) ';
}

[data-locale="en"] .history-page a.bubbled-processed[href ^="/m"]:before {
  content: '(Manga) ';
}

[data-locale="en"] .history-page a.bubbled-processed[href ^="/r"]:before {
  content: '(Ranobe) ';
}

/*========================================*/
/* Дата + Время */
.p-user_history-index .history-page .history-interval p .date {
  font-size: 0;
  white-space: nowrap;
}

.p-user_history-index .history-page .history-interval p .date::after {
  display: inline-block;
  vertical-align: middle;
  font-family: var(--font-main);
  font-size: 12.5px;
  overflow: hidden;
}

/* Дата */
.p-user_history-index .history-page .history-interval p .date::after {
  position: relative;
  width: 77px;
  /* Размер даты */
  margin-left: 5px;
  /* Отступ между датой и временем */
  white-space: nowrap;
  z-index: 1;
}

/*Установка переменны дней*/
.p-user_history-index .history-page .history-interval p .date[datetime*='-01T']::after {
  --HD-day: '/ 01';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-02T']::after {
  --HD-day: '/ 02';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-03T']::after {
  --HD-day: '/ 03';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-04T']::after {
  --HD-day: '/ 04';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-05T']::after {
  --HD-day: '/ 05';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-06T']::after {
  --HD-day: '/ 06';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-07T']::after {
  --HD-day: '/ 07';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-08T']::after {
  --HD-day: '/ 08';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-09T']::after {
  --HD-day: '/ 09';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-10T']::after {
  --HD-day: '/ 10';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-11T']::after {
  --HD-day: '/ 11';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-12T']::after {
  --HD-day: '/ 12';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-13T']::after {
  --HD-day: '/ 13';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-14T']::after {
  --HD-day: '/ 14';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-15T']::after {
  --HD-day: '/ 15';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-16T']::after {
  --HD-day: '/ 16';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-17T']::after {
  --HD-day: '/ 17';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-18T']::after {
  --HD-day: '/ 18';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-19T']::after {
  --HD-day: '/ 19';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-20T']::after {
  --HD-day: '/ 20';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-21T']::after {
  --HD-day: '/ 21';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-22T']::after {
  --HD-day: '/ 22';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-23T']::after {
  --HD-day: '/ 23';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-24T']::after {
  --HD-day: '/ 24';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-25T']::after {
  --HD-day: '/ 25';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-26T']::after {
  --HD-day: '/ 26';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-27T']::after {
  --HD-day: '/ 27';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-28T']::after {
  --HD-day: '/ 28';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-29T']::after {
  --HD-day: '/ 29';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-30T']::after {
  --HD-day: '/ 30';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-31T']::after {
  --HD-day: '/ 31';
}

/*Установка переменны месяцев*/
.p-user_history-index .history-page .history-interval p .date[datetime*='-01-']::after {
  --HD-month: 'янв';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-02-']::after {
  --HD-month: 'фев';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-03-']::after {
  --HD-month: 'мар';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-04-']::after {
  --HD-month: 'апр';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-05-']::after {
  --HD-month: 'май';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-06-']::after {
  --HD-month: 'июн';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-07-']::after {
  --HD-month: 'июл';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-08-']::after {
  --HD-month: 'авг';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-09-']::after {
  --HD-month: 'сен';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-10-']::after {
  --HD-month: 'окт';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-11-']::after {
  --HD-month: 'ноя';
}

.p-user_history-index .history-page .history-interval p .date[datetime*='-12-']::after {
  --HD-month: 'дек';
}

.p-user_history-index[data-locale="en"] .history-page .history-interval p .date[datetime*='-01-']::after {
  --HD-month: 'jan';
}

.p-user_history-index[data-locale="en"] .history-page .history-interval p .date[datetime*='-02-']::after {
  --HD-month: 'feb';
}

.p-user_history-index[data-locale="en"] .history-page .history-interval p .date[datetime*='-03-']::after {
  --HD-month: 'mar';
}

.p-user_history-index[data-locale="en"] .history-page .history-interval p .date[datetime*='-04-']::after {
  --HD-month: 'apr';
}

.p-user_history-index[data-locale="en"] .history-page .history-interval p .date[datetime*='-05-']::after {
  --HD-month: 'may';
}

.p-user_history-index[data-locale="en"] .history-page .history-interval p .date[datetime*='-06-']::after {
  --HD-month: 'jun';
}

.p-user_history-index[data-locale="en"] .history-page .history-interval p .date[datetime*='-07-']::after {
  --HD-month: 'jul';
}

.p-user_history-index[data-locale="en"] .history-page .history-interval p .date[datetime*='-08-']::after {
  --HD-month: 'aug';
}

.p-user_history-index[data-locale="en"] .history-page .history-interval p .date[datetime*='-09-']::after {
  --HD-month: 'sep';
}

.p-user_history-index[data-locale="en"] .history-page .history-interval p .date[datetime*='-10-']::after {
  --HD-month: 'okt';
}

.p-user_history-index[data-locale="en"] .history-page .history-interval p .date[datetime*='-11-']::after {
  --HD-month: 'nov';
}

.p-user_history-index[data-locale="en"] .history-page .history-interval p .date[datetime*='-12-']::after {
  --HD-month: 'dec';
}

.p-user_history-index .history-page .history-interval p .date::after {
  content: var(--HD-day)' 'var(--HD-month)' ';
}